<nav>
  <a href="/" class="logo">CARTO</a>
  <ul>
   
    <li><a href="/">About</a></li>
   <li><a href="/">2021 Events</a></li> 
    <li><a href="/">Past Editions</a></li>
  </ul>

</nav>

<style type="text/css">
nav{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px ;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.logo{
  position: relative;
  max-width: 150px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

ul{
  list-style: none;
  color: #fff;
}


</style>