* {
  margin: 0;
  padding: 0;
  box-sizing: border;
  font-family: "Karla", sans-serif;
  color: #fff;
}

body {
  background: #172945;
}

.content {
  display: flex;
  max-width: 1300px;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-first {
  z-index: 10;
  position: relative;
  margin-bottom: -46px;
}

#video-last {
  z-index: 1;
  position: relative;
  margin-top: 5px;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ec3832;
  clip-path: circle(25% at bottom left);
}

.content {
  display: flex;
  margin: 80px auto;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 0rem 5rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

button {
  width: 219px;
  height: 50px;
  padding: 17px 61px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #ec3832;
  margin-left: 16px;
  color: #fff;
}

.media {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.image {
  width: 344px;
  height: 179px;
  margin: 7px 7px 0 0;
  object-fit: contain;
  -webkit-box-shadow: 5px -5px 0px 0px #ec3832;
  -moz-box-shadow: 5px -5px 0px 0px #ec3832;
  box-shadow: 5px -5px 0px 0px #ec3832;
}

.video {
  -webkit-box-shadow: 5px -5px 0px 0px #ec3832;
  -moz-box-shadow: 5px -5px 0px 0px #ec3832;
  box-shadow: 5px -5px 0px 0px #ec3832;
  margin: 4px 0;
  right: 0;
  left: 0;
}

@media (max-width: 991px) {
  section {
    padding: 20px 20px 80px;
    justify-content: center;
  }

  .media {
    justify-content: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    max-width: 100%;
  }
  h2 {
    font-size: 1rem;
  }

  .background {
    clip-path: circle(250px at bottom right);
  }
}

@media (max-width: 640px) {
  .left {
    padding: 0px;
    align-items: center;
  }
}
