---
---

h1.heading {
  width: 441px;
  margin: 0 0 44px;
  font-family: Karla;
  font-size: 74px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: -2px;
}

p.text {
  width: 351px;
  font-size: 18px;
  font-weight: normal;
  background-color: #fff;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #000000;
  margin-left: 80px;
  padding: 10px;
  -webkit-box-shadow: 5px -5px 0px 0px #ec3832;
  -moz-box-shadow: 5px -5px 0px 0px #ec3832;
  box-shadow: 5px -5px 0px 0px #ec3832;
}

h2.sub-heading{
  width: 102px;
  margin: 0 6px;
  font-family: Karla;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: -1.6px;
}

h4.paragraph {
  width: 322px;
  height: 252px;
  margin: 40px 0 0 130px;
  font-family: Karla;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 2px;
}

.media-first{
  margin: 40px 0;
}

@media (max-width: 991px) {
  h1.heading{
    text-align: center;
    font-size: 40px;
  }
  h2.heading{
    font-size: 25px;
    margin-bottom: 1rem;
  }

  p.text,
  h4.paragraph {
    text-align: center;
    margin: 10px;
    display: block;
    padding: 5px;
  }
}
